{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@": "./",
                    "@auth": "./server/middleware/auth",
                    "@book": "./server/middleware/book",
                    "@client": "./client",
                    "@clientutils": "./client/utils",
                    "@components": "./client/components",
                    "@context": "./client/context",
                    "@controllers": "./server/controllers",
                    "@config": "./server/config",
                    "@helpers": "./server/helpers",
                    "@home": "./client/pages/Home",
                    "@middleware": "./server/middleware",
                    "@models": "./server/models",
                    "@pages": "./client/pages",
                    "@routes": "./server/routes",
                    "@server": "./server",
                    "@tests": "./__tests__",
                    "@utils": "./server/utils",
                    "@validators": "./server/middleware/validators",
                    "@clientValidators": "./client/validations"
                }
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ],
    "ignore": ["server/public/**/*.js"]
}
